<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>酒店管理系统后台</title>
		<meta name="keywords" content="index">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" href="assets/css/amazeui.min.css" />
		<link rel="stylesheet" href="assets/css/admin.css">
	</head>
	<body>
<!--[if lt IE 9]>
<p class="browsehappy" style="text-align:center;padding-top:10px;">您正在使用<strong>过时</strong>的浏览器, 建议您<a href="http://browsehappy.com/" style="color:red" target="_blank"> 升级浏览器 </a>。 360浏览器的亲可以切换到 <a href="http://jingyan.baidu.com/article/d169e186a3dd27436611d829.html" style="color:Red">极速模式</a> ，
    以获得更好的体验！</p>
<![endif]-->
<!--[if lt IE 8]>
<p class="browsehappy" style="text-align:center;padding-top:10px;">您正在使用<strong>过时</strong>的浏览器, 建议您<a href="http://browsehappy.com/" style="color:red" target="_blank"> 升级浏览器 </a>。 360浏览器的亲可以切换到 <a href="http://jingyan.baidu.com/article/d169e186a3dd27436611d829.html" style="color:Red">极速模式</a> ，
    以获得更好的体验！</p>
<![endif]-->
		<div class="am-topbar admin-header">
			<div class="am-topbar-brand">
				<strong> 酒店管理系统</strong> <small>后台管理中心</small>
			</div>
			<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
				<span class="am-sr-only">导航切换</span> 
				<span class="am-icon-bars"></span>
			</button>
			<div class="am-collapse am-topbar-collapse" id="topbar-collapse">
				<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
					<li><a href="#"><span class="am-icon-user"></span> 欢迎登录！尊敬的管理员</a>
					</li>
					<li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 最新消息 <span class="am-badge am-badge-warning">5</span></a>
					</li>
					<li><a href="#"><span class="am-icon-power-off"></span> 退出</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="am-cf admin-main">
			<!-- sidebar start -->
			<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
				<div class="am-offcanvas-bar admin-offcanvas-bar">
					<ul class="am-list admin-sidebar-list">
						<li>
							<a href="admin-index.html"><span class="am-icon-home"></span> 系统主页</a>
						</li>
						<li class="admin-parent">
							<a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-users"></span> 管理中心 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
							<ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
								<li>
									<a href="admin-image.html">图片管理</a>
								</li>
								<li>
									<a href="admin-company.html">企业管理 </a>
								</li>
								<li>
									<a href="admin-product.html">产品管理 </a>
								</li>
								<li>
									<a href="admin-users.html">客户管理 <span class="am-badge am-badge-secondary am-margin-right am-fr">3</span></a>
								</li>
								<li>
									<a href="admin-order.html">订单管理 <span class="am-badge am-badge-secondary am-margin-right am-fr">3</span></a>
								</li>
								<li>
									<a href="admin-news.html">新闻管理</a>
								</li>
								<li>
									<a href="admin-message.html">留言管理 <span class="am-badge am-badge-secondary am-margin-right am-fr">3</span></a>
								</li>
							</ul>
						</li>
						
						<li>
							<a href="admin-system.html"><span class="am-icon-cog"></span> 系统设置</a>
						</li>
					</ul>

					<div class="am-panel am-panel-default admin-sidebar-panel">
						<div class="am-panel-bd">
							<p><span class="am-icon-smile-o"></span> 报告老板</p>
							<p style="font-size: 14px;color: #666;">
							一个人事业上的成功，只有15%是由于他的专业技术，另外的85%要依依耐人际关系、外世技巧。软与硬是相对而言的。专业的技术是硬本领，善于处理人际关系的交际本领则是软本领。
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- sidebar end -->


			<!-- content start -->
			<div class="admin-content" id="message">

				<div class="am-cf am-padding">
					<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">后台管理系统</strong> / <small>留言管理</small>
					</div>
				</div>

				<div class="am-g">
					<div class="am-u-sm-12 am-u-md-12">
						
						<div class="am-btn-toolbar am-fr">
							<div class="am-btn-group am-btn-group-xs">
								<button type="button" class="am-btn am-btn-default"><span class="am-icon-check"></span> 已阅</button>
								
								<button type="button" class="am-btn am-btn-default"><span class="am-icon-times"></span> 删除</button>
							</div>
						</div>
						
					</div>
				</div>

				<div class="am-g am-padding">
					<div class="am-panel am-panel-default am-padding-bottom-lg">
						<div class="am-panel-hd am-cf">
							<span style="cursor: pointer;">全部留言 <span class="am-badge am-badge-secondary am-margin-right-sm">25</span></span>
							<span style="cursor: pointer;">待阅留言 <span class="am-badge am-badge-warning am-margin-right-sm">5</span></span>
							<span style="cursor: pointer;">已阅留言 <span class="am-badge am-badge-success">20</span></span>
							<span class="am-icon-chevron-down am-fr"></span>
						</div>
						<div class="am-panel-bd am-collapse am-in am-cf" id="collapse-panel-3">
							<ul class="am-list admin-content-task">
								<li>
									<div class="admin-task-meta">
										<input type="checkbox" style="position:relative;top: 2px;margin-right: 5px;"> <span class="am-text-danger">王大宝</span>posted on <span>2015-5-21 15:23 </span>  linked by <span class="am-text-secondary">692270687@qq.com</span>
									</div>
									<div class="admin-task-bd">
										The starting place for exploring business management; helping new managers get started and experienced managers get better.
									</div>
									<div class="am-cf">
										<div class="am-btn-toolbar am-fr">
											<div class="am-btn-group am-btn-group-xs">
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-check"></span></button>
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-times"></span></button>
											</div>
										</div>
									</div>
								</li>

								<li>
									<div class="admin-task-meta">
										<input type="checkbox" style="position:relative;top: 2px;margin-right: 5px;"> <span class="am-text-danger">王大宝</span>posted on <span>2015-5-21 15:23 </span>  linked by <span class="am-text-secondary">692270687@qq.com</span>
									</div>
									<div class="admin-task-bd">
										The starting place for exploring business management; helping new managers get started and experienced managers get better.
									</div>
									<div class="am-cf">
										<div class="am-btn-toolbar am-fr">
											<div class="am-btn-group am-btn-group-xs">
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-check"></span></button>
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-times"></span></button>
											</div>
										</div>
									</div>
								</li>
								
								<li>
									<div class="admin-task-meta">
										<input type="checkbox" style="position:relative;top: 2px;margin-right: 5px;"> <span class="am-text-danger">王大宝</span>posted on <span>2015-5-21 15:23 </span>  linked by <span class="am-text-secondary">692270687@qq.com</span>
									</div>
									<div class="admin-task-bd">
										The starting place for exploring business management; helping new managers get started and experienced managers get better.
									</div>
									<div class="am-cf">
										<div class="am-btn-toolbar am-fr">
											<div class="am-btn-group am-btn-group-xs">
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-check"></span></button>
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-times"></span></button>
											</div>
										</div>
									</div>
								</li>
								
								<li>
									<div class="admin-task-meta">
										<input type="checkbox" style="position:relative;top: 2px;margin-right: 5px;"> <span class="am-text-danger">王大宝</span>posted on <span>2015-5-21 15:23 </span>  linked by <span class="am-text-secondary">692270687@qq.com</span>
									</div>
									<div class="admin-task-bd">
										The starting place for exploring business management; helping new managers get started and experienced managers get better.
									</div>
									<div class="am-cf">
										<div class="am-btn-toolbar am-fr">
											<div class="am-btn-group am-btn-group-xs">
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-check"></span></button>
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-times"></span></button>
											</div>
										</div>
									</div>
								</li>
								
								<li>
									<div class="admin-task-meta">
										<input type="checkbox" style="position:relative;top: 2px;margin-right: 5px;"> <span class="am-text-danger">王大宝</span>posted on <span>2015-5-21 15:23 </span>  linked by <span class="am-text-secondary">692270687@qq.com</span>
									</div>
									<div class="admin-task-bd">
										The starting place for exploring business management; helping new managers get started and experienced managers get better.
									</div>
									<div class="am-cf">
										<div class="am-btn-toolbar am-fr">
											<div class="am-btn-group am-btn-group-xs">
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-check"></span></button>
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-times"></span></button>
											</div>
										</div>
									</div>
								</li>
								
								<li>
									<div class="admin-task-meta">
										<input type="checkbox" style="position:relative;top: 2px;margin-right: 5px;"> <span class="am-text-danger">王大宝</span>posted on <span>2015-5-21 15:23 </span>  linked by <span class="am-text-secondary">692270687@qq.com</span>
									</div>
									<div class="admin-task-bd">
										The starting place for exploring business management; helping new managers get started and experienced managers get better.
									</div>
									<div class="am-cf">
										<div class="am-btn-toolbar am-fr">
											<div class="am-btn-group am-btn-group-xs">
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-check"></span></button>
												<button type="button" class="am-btn am-btn-default"><span class="am-icon-times"></span></button>
											</div>
										</div>
									</div>
								</li>
								
								
							</ul>
							<ul class="am-pagination am-fr admin-content-pagination am-margin-top-xl">
								<li class="am-disabled"><a href="#">&laquo;</a>
								</li>
								<li class="am-active"><a href="#">1</a>
								</li>
								<li><a href="#">2</a>
								</li>
								<li><a href="#">3</a>
								</li>
								<li><a href="#">4</a>
								</li>
								<li><a href="#" class="am-hide-sm-only">5</a>
								</li>
								<li><a href="#">&raquo;</a>
								</li>
							</ul>
						</div>
					</div>

				</div>
			</div>
			<!-- content end -->

		</div>

		<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

		<div>
			<hr>
			<p class="am-padding-left"><span>Copyright &copy; 2016.温州医科大学 毕业设计作品.<small> &nbsp;&nbsp;信息与工程学院</small></span></p>
		</div>
		
		<div id="all_operate"></div>

		<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

		<!--[if (gte IE 9)|!(IE)]><!-->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/amazeui.min.js"></script>
		<!--<![endif]-->
		<script src="assets/js/Common_model.js"></script>
		<script src="assets/js/app.js"></script>
	</body>

</html>