<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>酒店管理系统后台</title>
		<meta name="keywords" content="index">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" href="assets/css/amazeui.min.css" />
		<link rel="stylesheet" href="assets/css/admin.css">
		<link rel="stylesheet" type="text/css" href="assets/css/app.css">
	</head>
	<body>
<!--[if lt IE 9]>
<p class="browsehappy" style="text-align:center;padding-top:10px;">您正在使用<strong>过时</strong>的浏览器, 建议您<a href="http://browsehappy.com/" style="color:red" target="_blank"> 升级浏览器 </a>。 360浏览器的亲可以切换到 <a href="http://jingyan.baidu.com/article/d169e186a3dd27436611d829.html" style="color:Red">极速模式</a> ，
    以获得更好的体验！</p>
<![endif]-->
<!--[if lt IE 8]>
<p class="browsehappy" style="text-align:center;padding-top:10px;">您正在使用<strong>过时</strong>的浏览器, 建议您<a href="http://browsehappy.com/" style="color:red" target="_blank"> 升级浏览器 </a>。 360浏览器的亲可以切换到 <a href="http://jingyan.baidu.com/article/d169e186a3dd27436611d829.html" style="color:Red">极速模式</a> ，
    以获得更好的体验！</p>
<![endif]-->
		<div class="am-topbar admin-header">
			<div class="am-topbar-brand">
				<strong> 酒店管理系统</strong> <small>后台管理中心</small>
			</div>
			<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}">
				<span class="am-sr-only">导航切换</span> 
				<span class="am-icon-bars"></span>
			</button>
			<div class="am-collapse am-topbar-collapse" id="topbar-collapse">
				<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
					<li><a href="#"><span class="am-icon-user"></span> 欢迎登录！尊敬的 <label id="login-name">seyaney</label></a>
					</li>
					<li><a href="javascript:;">通知 <span class="am-icon-envelope-o"></span> <span class="am-badge am-badge-warning ">5</span></a>
					</li>
					<li><a href="./login.html"><span class="am-icon-power-off"></span> 退出</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="am-cf admin-main">
			<!-- sidebar start -->
			<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
				<div class="am-offcanvas-bar admin-offcanvas-bar">
					<ul class="am-list admin-sidebar-list">
						<li>
							<a href="admin-index.html"><span class="am-icon-home"></span> 系统主页</a>
						</li>
						<li class="admin-parent">
							<a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-users"></span> 管理中心 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
							<ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
								<li>
									<a href="admin-image.html">图片管理</a>
								</li>
								<li>
									<a href="admin-company.html">企业管理 </a>
								</li>
								<li>
									<a href="admin-product.html">产品管理 </a>
								</li>
								<li>
									<a href="admin-users.html">客户管理 </a>
								</li>
								<li>
									<a href="admin-order.html">订单管理 </a>
								</li>
								<li>
									<a href="admin-news.html">新闻管理</a>
								</li>
								<li>
									<a href="admin-message.html">留言管理 <span class="am-badge am-badge-warning am-margin-right am-fr">5</span></a>
								</li>
							</ul>
						</li>
						
						<li>
							<a href="admin-system.html"><span class="am-icon-cog"></span> 系统设置</a>
						</li>
					</ul>

					<div class="am-panel am-panel-default admin-sidebar-panel">
						<div class="am-panel-bd">
							<p><span class="am-icon-smile-o"></span> 报告老板</p>
							<p style="font-size: 14px;color: #666;">
							一个人事业上的成功，只有15%是由于他的专业技术，另外的85%要依依耐人际关系、外世技巧。软与硬是相对而言的。专业的技术是硬本领，善于处理人际关系的交际本领则是软本领。
							</p>
						</div>
					</div>
				</div>
			</div>
			<!-- sidebar end -->

			<!-- content start -->
			<div class="admin-content" id="content-system">

				<div class="am-cf am-padding">
					<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">后台管理系统</strong> / <small>系统设置</small>
					</div>
				</div>

				<div class="am-g">
					<div class="am-u-sm-12 am-u-md-12">
						<div class="am-u-sm-12 am-u-md-6">
						<div class="am-btn-toolbar">
							<div class="am-btn-group am-btn-group-xs am-margin-bottom-sm">
								<button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>
								<button type="button" class="am-btn am-btn-default delete-some"><span class="am-icon-trash-o"></span> 删除</button>
							</div>
						</div>
					</div>
					<div class="am-u-sm-12 am-u-md-3">
						<div class="am-input-group am-input-group-sm">
							<input type="text" class="am-form-field" placeholder="输入文档的标题或者关键字搜索">
							<span class="am-input-group-btn">
            					<button class="am-btn am-btn-default" type="button" style="">搜索</button>
          					</span>
						</div>
					</div>
					</div>
				</div>

				<div class="am-g">
					<div class="am-u-sm-12">
						<form class="am-form">
							<table class="am-table am-table-striped am-table-hover table-main">
								<thead>
									<tr>
										<th class="table-check am-text-center">
											<input type="text" class="checkbox" title="全选" id="checkAll" />
										</th>
										<th class="table-id">ID</th>
										<th class="table-type">主题名称</th>
										<th class="table-date am-hide-sm-only am-text-center"> 主题简写</th>
										<th class="table-date am-hide-sm-only am-text-center"> 主题样式表</th>
										<th class="table-date am-hide-sm-only am-text-center"> 排序权重</th>
										<th class="table-set">操作</th>
									</tr>
								</thead>
								<tbody class="am-text-sm CheckAllBody" id="theme-list">

									<tr>
										<td>
											<input type="text" class="checkbox check-single" data-id="1" />
										</td>
										<td>1</td>
										<td>浪漫红</td>
										<td class="am-hide-sm-only am-text-center">red_1</td>
										<td class="am-hide-sm-only am-text-center">./css/style1.css</td>
										<td class="am-hide-sm-only am-text-center">1</td>
										<td>
											<div class="am-btn-toolbar">
												<div class="am-btn-group am-btn-group-xs">
													<button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
													<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only delete-theme" ><span class="am-icon-trash-o "></span> 删除</button>
												</div>
											</div>
										</td>
									</tr>

								</tbody>
							</table>
							<div class="am-cf am-text-sm">
								共 15 条记录
								<div class="am-fr">
									<ul class="am-pagination">
										<li class="am-disabled"><a href="#">«</a>
										</li>
										<li class="am-active"><a href="#">1</a>
										</li>
										<li><a href="#" class="am-hide-sm-only">2</a>
										</li>
										<li><a href="#">»</a>
										</li>
									</ul>
								</div>
							</div>
							<hr />
						</form>
					</div>

				</div>
			</div>
			<!-- content end -->

		</div>

		<a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

		<div>
			<hr>
			<p class="am-padding-left"><span>Copyright &copy; 2016.温州医科大学 毕业设计作品.<small> &nbsp;&nbsp;信息与工程学院</small></span></p>
		</div>
		<div id="all_operate"></div>

		<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

		<!--[if (gte IE 9)|!(IE)]><!-->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/amazeui.min.js"></script>
		<!--<![endif]-->
		<script src="assets/js/Common_model.js"></script>
		<script src="assets/js/app.js"></script>
	</body>

</html>