<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>酒店管理系统后台 后台管理登录</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="stylesheet" href="assets/css/amazeui.min.css" />
		<style>
			.header {
			      text-align: center;	
			    }
			    .header h1 {
			      font-size: 200%;
			      color: #333;
			      margin-top: 30px;
			    }
			    .header p {
			      font-size: 14px;
			    }
			    .am-btn-my:hover{
			    	background: rgba(45,29,73,0.1);
			    }
			  .app-btn-my{
			  	background:rgba(67,149,150,0.8);
			  	color:#fff;
			  }
			  .app-btn-my:hover{
			  	background:rgba(67,149,150,1);
			  	color: #fff;
			  }
		</style>
	</head>

	<body>
		<div class="header">
			<div class="am-g" style="min-height: 280px; background: #0084C7; background: rgb(67,149,150);">
				<h1 style="font-size: 2.8em; margin-top: 80px;color: #fff;">酒店管理系统</h1>
				<p style="font-size: 1.0em;color: #fff;">The Hotel Management System</p>
			</div>
			<hr />
		</div>
		<div class="am-g">
			<div class="am-u-lg-5 am-u-sm-centered" style="min-height: 340px;padding:0px 5%">
				<h2 style="color:rgb(96,45,79)">管理员登录 / Admin Login</h2>
				<hr>
				<form method="post" class="am-form">
					<div class="am-input-group">
						<span class="am-input-group-label" style="font-size: 14px;"><i class="am-icon-user" ></i> UserName</span>
						<input style="font-size: 14px;padding: 8px 10px;" type="text" class="am-form-field" placeholder="输入您的用户名">
					</div>

					<div class="am-input-group am-margin-top-sm">
						<span class="am-input-group-label" style="font-size: 14px;"><i class="am-icon-shield" ></i> Password &nbsp;</span>
						<input style=" font-size: 14px;padding: 8px 10px;" type="password" class="am-form-field" placeholder="输入您的登录密码">
					</div>
					<br />
					<div class="am-fr " style="width:100%">
						<button style="position: relative; width:100%; top: 20px; " class="am-btn app-btn-my" id="app-btn-my">登录</button>
					</div>
				</form>
			</div>
		</div>
		<div class="am-margin-top-xl">
			<hr>
			<p class="am-padding-left" style="text-align: center"><span>Copyright &copy; 2016.温州医科大学 毕业设计作品.<small> &nbsp;&nbsp;信息与工程学院</small></span></p>
		</div>
	</body>
	<script src="assets/js/jquery.min.js"></script>

</html>