<!DOCTYPE html>
<!--[if lt IE 7]> <html dir="ltr" lang="en-US" class="ie6"> <![endif]-->
<!--[if IE 7]>    <html dir="ltr" lang="en-US" class="ie7"> <![endif]-->
<!--[if IE 8]>    <html dir="ltr" lang="en-US" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html dir="ltr" lang="en-US"> <!--<![endif]-->
<!-- BEGIN head -->
<head>

	<!--Meta Tags-->
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
	<!--Title-->
	<title>Seyaney假日酒店</title>

	<!--Stylesheets-->
	<link rel="stylesheet" href="css/superfish.css" type="text/css"  media="all"  />
	<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="all" />
	<link type="text/css" href="css/jqueryui/jquery.ui.datepicker.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/style.css" type="text/css"  media="all"  />
	<link id="colour_css" rel="stylesheet" href="css/colours/cream-red.css" type="text/css"  media="all"  />
	<link href='css/font.css' rel='stylesheet' type='text/css'>

<!-- END head -->
</head>

<!-- BEGIN body -->
<body>
	
	<!-- BEGIN DEMO ONLY -->
	<div id="style_picker">

		<h3 class="picker_title"> &nbsp;&nbsp;主题风格&nbsp; &nbsp;&nbsp;</h3>

		<ul class="style_list">
			<li><a href="#" rel="css/colours/cream-red.css" style="margin-left: 20px;">浪漫红</a></li>
			<li><a href="#" rel="css/colours/green-brown.css" style="margin-left: 20px;">艺术绿</a></li>
			<li><a href="#" rel="css/colours/green.css" style="margin-left: 20px;">纯情绿</a></li>
			<li><a href="#" rel="css/colours/purple.css" style="margin-left: 20px;">高贵紫</a></li>
		</ul>

		<div class="style_picker_toggle_wrapper">
			<a href="#" class="style_picker_toggle"></a>
		</div>
		
	</div>
	<!-- END DEMO ONLY -->

	<!-- BEGIN .background-wrapper -->
	<div class="background-wrapper">
		
		<!-- BEGIN .content-wrapper -->
		<div class="content-wrapper">
		
			<!-- BEGIN .content-body -->
			<div class="content-body">
				
				<!-- BEGIN .top-bar -->
				<div class="top-bar clearfix">
					
					<!-- BEGIN .gmap-btn-wrapper -->
					<div class="gmap-btn-wrapper">
						<a href="#" class="gmap-btn"></a>
						<div class="gmap-curve"></div>
					<!-- END .gmap-btn-wrapper -->
					</div>
					
					<!-- BEGIN .top-menu-wrapper -->
					<div class="top-menu-wrapper fr clearfix">
						<a href="accommodation.html" class="button1 fl">马上预定</a>
					<!-- END .top-menu-wrapper -->
					</div>
					
				<!-- END .top-bar -->
				</div>
				
				<!-- BEGIN .title-wrapper -->
				<div id="title-wrapper">
					<h1><div class="title-dec-left"></div><a href="index.html">Seyaney <span>假日酒店</span></a><div class="title-dec-right"></div></h1>
				<!-- END .title-wrapper -->
				</div>
				
				<!-- BEGIN #navigation -->
				<div id="navigation" class="clearfix">
					
					<!-- BEGIN #main-menu -->
					<ul id="main-menu" class="fl clearfix">
						<li class="current-menu-item"><a href="index.html">主页<span>home page</span></a></li>
						<li><a href="accommodation.html">住宿<span>rates &amp; reservations</span></a>
							<ul>
								<li><a href="accommodation-single.html?id=1">单人标准房</a></li>
								<li><a href="accommodation-single.html?id=2">双人标准房</a></li>
								<li><a href="accommodation-single.html?id=3">单人豪华房</a></li>
								<li><a href="accommodation-single.html?id=4">双人豪华房</a></li>
								<li><a href="accommodation-single.html?id=5">单人钟点房</a></li>
								<li><a href="accommodation-single.html?id=6">双人钟点房</a></li>
							</ul>
						</li>
						<li><a href="gallery.html">设施<span>spa &amp; relaxation</span></a></li>
						<li><a href="events.html">动态<span>what's happening</span></a></li>
						<li><a href="contact.html">联系我们<span>get in touch</span></a>
						</li>
					<!-- END #main-menu -->
					</ul>
					
					<ul class="main-menu-contact-info fr">
						<li class="info-phone">+400 888-888-888</li>
						<li class="info-email">myAdmin@admin.com</li>
					</ul>
					
					<div class="corner-left"></div>
					<div class="corner-right"></div>
					
				<!-- END #navigation -->
				</div>
				
				<!-- BEGIN .page-header -->
				<div class="page-header">
					<img src="images/pagehead1.jpg" alt="" />
				<!-- END .page-header -->
				</div>
				
				<!-- BEGIN .section -->
				<div class="section page-full clearfix">

					<h2 class="page-title product-name">标准单人房</h2>
					
					<!-- BEGIN .page-content -->
					<div class="page-content page-content-full">
					
						<div class="even-cols clearfix">
							<div class="one-half">
								
								<!-- BEGIN #slides -->
								<div id="slides1" class="slide-loader">

									<!-- BEGIN .slides_container -->
									<div class="slides_container">

										<div class="slide">
											<a href="#"><img src="images/accom-slide1.jpg" alt="" /></a>
											<div class="caption product-name">标准单人房</div>
										</div>

										<div class="slide">
											<a href="#"><img src="images/accom-slide2.jpg" alt="" /></a>
											<div class="caption product-name">标准单人房</div>
										</div>

									<!-- END .slides_container -->
									</div>

									<a href="#" class="prev">上一页</a>
									<a href="#" class="next">下一页</a>

								<!-- END #slides -->
								</div>
								
							</div>
						
							<div class="one-half last-col">
								<h3 class="title1">房间描述<span class="title-end"></span></h3>
								<p id="product-info">一大堆文字介绍这个房间的特色和设备一大堆文字介绍这个房间的特色和设备一大堆文字介绍这个房间的特色和设备一大堆文字介绍这个房间的特色和设备一大堆文字介绍这个房间的特色和设备一大堆文字介绍这个房间的特色和设备一大堆文字介绍这个房间的特色和设备一大堆文字介绍这个房间的特色和设备。</p>
								
								<div class="booknow-accompage">
									
									<div class="book-price">
										<h2 class="price" id="product-price">￥200<span class="price-detail">一 晚</span></h2>
									</div>
									
									<form class="booking-form booking-form-accompage" name="bookroom" action="" method="post">

										<input type="text" id="input-product-name" value="标准单人房" style="margin-bottom: 5px;" class="text-input" disabled="disabled">

										<input type="number" id="phone" style="width:230px;padding:3px;margin-bottom: 6px;"  placeholder="您的联系方式"/>

										<div class="clearfix">
											<input type="text" id="datefrom" value="入住时间" class="input-half datepicker">
											<input type="text" id="dateto" value="离开时间" class="input-half input-half-last datepicker">
										</div>

										<input class="bookbutton" id="bookNow" style="position: relative;top: -6px;" type="submit" value="马上预定" />

									</form>
									
								</div>
								
							</div>
						</div>
						
						<h3 class="title1">房间设施<span class="title-end"></span></h3>
						
						<div class="clearfix">

							<ul class="mylist" id="product-gallery">
								<li>空调</li>
								<li>电吹风</li>
								<li>电视机</li>
								<li>衣架</li>
								<li>电热水壶</li>
								<li>茶具</li>
							</ul>
						
						</div>
						
					<!-- END .page-content -->
					</div>
					
				<!-- END .section -->
				</div>
				
				<!-- BEGIN #footer -->
				<div id="footer" class="clearfix">
					
					<!-- BEGIN .two-forths -->
					<div class="two-forths">
						
						<!-- BEGIN .widget -->
						<div class="widget">
							<div class="widget-title clearfix">
								<h5>Seyaney</h5>
							</div>
							<p>Seyaney假日酒店坐落于W市中心，喧嚣的都市里一个安静、另类的建筑。酒店以整洁和温馨为主题，108间豪华客房，200间标准客房，设施一应俱全，免费机场接机、免费停车场、免费三餐和点心，服务周到，24小时前台工作人员，是您出行旅游的最佳去处。</p>
						<!-- END .widget -->
						</div>
					
					<!-- END .two-forths -->
					</div>
					
					<!-- BEGIN .one-forth -->
					<div class="one-forth">
						
						<!-- BEGIN .widget -->
						<div class="widget">
							<div class="widget-title clearfix">
								<h5>网站地图</h5>
							</div>
							
							<ul>
								<li><a href="accommodation.html">住宿</a></li>
								<li><a href="typography.html">设施</a></li>
								<li><a href="events.html">动态</a></li>
								<li><a href="contact.html">联系我们</a></li>
							</ul>
							
						<!-- END .widget -->
						</div>
					
					<!-- END .one-forth -->
					</div>
					
					<!-- BEGIN .one-forth -->
					<div class="one-forth last-col">
						
						<!-- BEGIN .widget -->
						<div class="widget">
							<div class="widget-title clearfix">
								<h5>分享</h5>
							</div>
							
							<div class="flickr_badge_wrapper clearfix">
								<div style="clear:both;"></div>
								<p class="flickr-more-photos"><a href="#">QQ空间</a> &nbsp;<a href="#">微信朋友圈</a></p>
							</div>
							
						<!-- END .widget -->
						</div>
						
					<!-- END .one-forth -->
					</div>					
				<!-- END #footer -->
				</div>
				
				<!-- BEGIN #footer-bottom -->
				<div id="footer-bottom" class="clearfix">
					<p class="fl">&copy; Copyright 2016</p>
					<ul class="footer-menu fr">
						<li><a href="index.html">主页</a><span>/</span></li>
						<li><a href="accommodation.html">预定套房</a><span>/</span></li>
						<li><a href="contact.html">联系我们</a><span>/</span></li>
					</ul>
				<!-- END #footer-bottom -->
				</div>
			
			<!-- END .content-body -->
			</div>
			
		<!-- END .content-wrapper -->
		</div>
		
	<!-- END .background-wrapper -->
	</div>

	<!--JavaScript-->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type='text/javascript' src='js/jquery-ui.min.js'></script>
	<script type="text/javascript" src="js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="js/jquery.ui.datepicker.js"></script>
	<script type='text/javascript' src='js/jquery.prettyPhoto.js'></script>
	<script type="text/javascript" src="js/superfish.js"></script>
	<script type="text/javascript" src="js/slides.min.jquery.js"></script>
	<script type='text/javascript' src='js/jquery.easing.1.3.js'></script>
	<script type='text/javascript' src='js/jquery.cookie.js'></script>
	<script type="text/javascript" src="js/scripts.js"></script>

	<!--引入假数据-->
	<script type="text/javascript" src="js/source.accommodation.js"></script>
	
	<!--页面后续注入的功能-->
	<script type="text/javascript">
		$(function(){

			/*后端PHP接口的根目录*/
			var APIURL="http://www.hms.com/HMS/API/action/front/";

			/*从query参数里获取productId*/
			var _productId=location.search.split('=')[1];

			$('#input-product-name').val(source[_productId-1].name);
			$('.product-name').html(source[_productId-1].name);
			$('#product-info').html(source[_productId-1].info);
			$('#product-price').html('￥'+source[_productId-1].price+'<span class="price-detail">一 晚</span>');

			$('#product-gallery').html(eachGallery(source[_productId-1].gallery));

			/**
			 * @desc 马上预定功能
			 * @warning 这里的productId从url的query参数里取
			 */
			$('#bookNow').on('click',function(e){
				e.preventDefault();
				var _userPhone=$('#phone').val();
				var _inDate=formatDateString($('#datefrom').val());
				var _outDate=formatDateString($('#dateto').val());
				var _days=Math.floor((new Date(_outDate).getTime()-new Date(_inDate).getTime())/(24*60*60*1000));

				if(_productId && _userPhone && _inDate && _outDate){
					if(_userPhone.length!==11){
						alert('抱歉，您的手机号码格式不对！');
						return false;
					}
					else{
						$.ajax({
							type:'get',
							url:APIURL+'book.act.php',
							data:{
								productId:_productId,
								userPhone:_userPhone,
								inDate:_inDate,
								outDate:_outDate,
								days:_days
							},
							dataType:'json',
							success:function(res){
								if(res){
									alert('恭喜，预定成功！请按时到酒店前台办理入住手续。');
									location.replace(location.href);
								}
							}
						})
					}
				}
			});
		});

		/**
		 * [formatDateString 格式化日期格式]
		 * @param  {[type]} $str [description]
		 * @return {[type]}      [description]
		 */
		function formatDateString($str){
			var tempArr=$str.split('/');
			return [tempArr[2],tempArr[0],tempArr[1]].join('-');
		}

		/**
		 * [eachGallery 拼接gallery数组为html字符串]
		 * @param  {[type]} $arr [description]
		 * @return {[type]}      [description]
		 */
		function eachGallery($arr){
			var returnStr="";
			for(var i=0;i<$arr.length;i++){
				returnStr+="<li>"+$arr[i]+"</li>";
			}
			return returnStr;
		}
	</script>
	
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="js/selectivizr-min.js"></script>
	<![endif]-->
<!-- END body -->
</body>
</html>