<!DOCTYPE html>
<!--[if lt IE 7]> <html dir="ltr" lang="en-US" class="ie6"> <![endif]-->
<!--[if IE 7]>    <html dir="ltr" lang="en-US" class="ie7"> <![endif]-->
<!--[if IE 8]>    <html dir="ltr" lang="en-US" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html dir="ltr" lang="en-US"> <!--<![endif]-->

<!-- BEGIN head -->

<head>

	<!--Meta Tags-->
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
	<!--Title-->
	<title>Seyaney假日酒店</title>

	<!--Stylesheets-->
	<link rel="stylesheet" href="css/superfish.css" type="text/css"  media="all"  />
	<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="all" />
	<link type="text/css" href="css/jqueryui/jquery.ui.datepicker.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/style.css" type="text/css"  media="all"  />
	<link id="colour_css" rel="stylesheet" href="css/colours/cream-red.css" type="text/css"  media="all"  />
	<link href='css/font.css' rel='stylesheet' type='text/css'>

<!-- END head -->
</head>

<!-- BEGIN body -->
<body>
	
	<!-- BEGIN DEMO ONLY -->
	<div id="style_picker">

		<h3 class="picker_title"> &nbsp;&nbsp;主题风格&nbsp; &nbsp;&nbsp;</h3>

		<ul class="style_list">
			<li><a href="#" rel="css/colours/cream-red.css" style="margin-left: 20px;">浪漫红</a></li>
			<li><a href="#" rel="css/colours/green-brown.css" style="margin-left: 20px;">艺术绿</a></li>
			<li><a href="#" rel="css/colours/green.css" style="margin-left: 20px;">纯情绿</a></li>
			<li><a href="#" rel="css/colours/purple.css" style="margin-left: 20px;">高贵紫</a></li>
		</ul>

		<div class="style_picker_toggle_wrapper">
			<a href="#" class="style_picker_toggle"></a>
		</div>
		
	</div>
	<!-- END DEMO ONLY -->

	<!-- BEGIN .background-wrapper -->
	<div class="background-wrapper">
		
		<!-- BEGIN .content-wrapper -->
		<div class="content-wrapper">
		
			<!-- BEGIN .content-body -->
			<div class="content-body">
				
				<!-- BEGIN .top-bar -->
				<div class="top-bar clearfix">
					
					<!-- BEGIN .gmap-btn-wrapper -->
					<div class="gmap-btn-wrapper">
						<a href="#" class="gmap-btn"></a>
						<div class="gmap-curve"></div>
					<!-- END .gmap-btn-wrapper -->
					</div>
					
					<!-- BEGIN .top-menu-wrapper -->
					<div class="top-menu-wrapper fr clearfix">
						<a href="accommodation.html" class="button1 fl">马上预定</a>
					<!-- END .top-menu-wrapper -->
					</div>
					
				<!-- END .top-bar -->
				</div>
				
				<!-- BEGIN .title-wrapper -->
				<div id="title-wrapper">
					<h1><div class="title-dec-left"></div><a href="index.html">Seyaney <span>假日酒店</span></a><div class="title-dec-right"></div></h1>
				<!-- END .title-wrapper -->
				</div>
				
				<!-- BEGIN #navigation -->
				<div id="navigation" class="clearfix">
					
					<!-- BEGIN #main-menu -->
					<ul id="main-menu" class="fl clearfix">
						<li class="current-menu-item"><a href="index.html">主页<span>home page</span></a></li>
						<li><a href="accommodation.html">住宿<span>rates &amp; reservations</span></a>
							<ul>
								<li><a href="accommodation-single.html?id=1">单人标准房</a></li>
								<li><a href="accommodation-single.html?id=2">双人标准房</a></li>
								<li><a href="accommodation-single.html?id=3">单人豪华房</a></li>
								<li><a href="accommodation-single.html?id=4">双人豪华房</a></li>
								<li><a href="accommodation-single.html?id=5">单人钟点房</a></li>
								<li><a href="accommodation-single.html?id=6">双人钟点房</a></li>
							</ul>
						</li>
						<li><a href="gallery.html">设施<span>spa &amp; relaxation</span></a></li>
						<li><a href="events.html">动态<span>what's happening</span></a></li>
						<li><a href="contact.html">联系我们<span>get in touch</span></a>
						</li>
					<!-- END #main-menu -->
					</ul>
					
					<ul class="main-menu-contact-info fr">
						<li class="info-phone">+400 888-888-888</li>
						<li class="info-email">myAdmin@admin.com</li>
					</ul>
					
					<div class="corner-left"></div>
					<div class="corner-right"></div>
					
				<!-- END #navigation -->
				</div>
				
				<!-- BEGIN .page-header -->
				<div class="page-header">
					<img src="images/pagehead1.jpg" alt="" />
				<!-- END .page-header -->
				</div>
				
				<!-- BEGIN .section -->
				<div class="section clearfix">
					
					<!-- BEGIN .main-content -->
					<div class="main-content">
						<a name="touch"></a>
						<h2 class="page-title">联系我们</h2>
						
						<!-- BEGIN .page-content -->
						<div class="page-content">
						
							<div class="clearfix">
								<div>
									<p>Seyaney假日酒店坐落于W市中心，喧嚣的都市里一个安静、另类的建筑。酒店以整洁和温馨为主题，108间豪华客房，200间标准客房，设施一应俱全，免费机场接机、免费停车场、免费三餐和点心，服务周到，24小时前台工作人员，是您出行旅游的最佳去处。</p>
								</div>
							</div>

							<div id="baidu-map" style="width:100%;height:250px;background: #f0f0f0;margin-bottom: 20px;"></div>
							
						<!-- END .page-content -->
						</div>
						<a name="review"></a>
						<h2 class="page-title">评价</h2>
						
						<!-- BEGIN .page-content -->
						<div class="page-content testimonial-full">
						
							<div class="testimonial-wrapper clearfix">
								<img src="images/guest.png" alt="" class="testimonial-guest" />
								<p class="testimonial-text">&ldquo;房间相当可以啊，虽比不上五星级酒店气派，但是很干净整洁，设施一应俱全。住的很舒服，前台很有礼貌，挺好下次还来。&rdquo;</p>
								<div class="testimonial-speech"></div>
							</div>

							<p class="testimonial-author">王大宝 - <span>单人标准房</span></p>
							
							<div class="testimonial-wrapper clearfix">
								<img src="images/guest.png" alt="" class="testimonial-guest" />
								<p class="testimonial-text">&ldquo;我的天，不敢相信这么喧嚣的地方能找到这么温馨又舒适的酒店，挺好。住的很开心。&rdquo;</p>
								<div class="testimonial-speech"></div>
							</div>

							<p class="testimonial-author">慕思诚 - <span>单人豪华房</span></p>
							
							<div class="page-pagination">
								<p class="clearfix">
									<span class="fl"><a href="#">&larr; 上一页</a></span>
									<span class="fr"><a href="#">下一页 &rarr;</a></span>
								</p>
							</div>
							
						<!-- END .page-content -->
						</div>
					
					<!-- END .main-content -->
					</div>
					
					<!-- BEGIN .sidebar -->
					<div class="sidebar last-col">
						
						<div class="widget" style="margin-top: 50px;">
							<div class="widget-title clearfix"><h5>快速预定</h5></div>
							
							<!-- BEGIN .booknow-sidebar -->
							<div class="booknow-sidebar">
							
								<!-- BEGIN .booknow -->
								<div class="booknow">
									
									<form class="booking-form" name="bookroom" action="" method="post">
										
										<div class="select-wrapper" style="margin-bottom: 5px;">
											<select id="room" name="room">
												<option>选择一个套餐...</option>
												<option data-id="1">单人标准房</option>
												<option data-id="2">双人标准房</option>
												<option data-id="3">单人豪华房</option>
												<option data-id="4">双人豪华房</option>
												<option data-id="5">单人钟点房</option>
												<option data-id="6">双人钟点房</option>
											</select>
										</div>
										
										<input type="number" id="phone" style="width:216px;padding:3px 8px;margin-bottom: 6px;"  placeholder="您的联系方式"/>
										
										<div class="clearfix">
											<input type="text" id="datefrom" placeholder="入住时间" class="input-half datepicker">
											<input type="text" id="dateto" placeholder="离开时间" class="input-half input-half-last datepicker">
										</div>
									
										<input style="position: relative;top: -5px;" id="bookNow" class="bookbutton" type="submit" value="马上预定" />
									
									</form>
									
									<div class="corner-left"></div>
								<!-- END .booknow -->
								</div>
							
							<!-- END . booknow-sidebar -->
							</div>
							
						</div>

						<div class="widget">
							<div class="widget-title clearfix"><h5>感谢评价</h5></div>
							<form action="#" id="commentform" class="clearfix" method="post">

								<div class="field-row">
								    <input type="text" placeholder="您的名字" name="contact_name" id="review-name" class="text_input" value="" style="width:258px;margin-bottom: 10px;padding:4px 8px;" />
								</div>

								<div class="field-row">
								   <select class="select-wrapper" id="review-room" style="margin-bottom: 10px;color: #888;padding-left: 5px;" name="room">
										<option>您选择的套餐...</option>
										<option data-id="1">单人标准房</option>
										<option data-id="2">双人标准房</option>
										<option data-id="3">单人豪华房</option>
										<option data-id="4">双人豪华房</option>
										<option data-id="5">单人钟点房</option>
										<option data-id="6">双人钟点房</option>
									</select>
								</div>

								<div class="field-row">
									<input type="text" placeholder="您的邮箱" name="email" id="review-email" class="text_input" value="" style="width:258px;margin-bottom: 10px;padding:4px 8px;" />		
								</div>

								<div class="field-row">
									<input type="text" placeholder="您的手机号码" name="number" id="review-phone" class="text_input" value="" style="width:258px;margin-bottom: 10px;padding:4px 8px;" />		
								</div>

								<div class="field-row">
									<textarea style="width:261px" placeholder="您的评价" name="message" id="review-content" class="text_input" cols="60" rows="9"></textarea>
								</div>

								<input class="button2"  type="submit" value="提交" id="review-submit" name="submit" style="margin-bottom: 20px;">

							</form>
						</div>
						
					<!-- END .sidebar -->
					</div>
				
				<!-- END .section -->
				</div>
				
				<!-- BEGIN #footer -->
				<div id="footer" class="clearfix">
					
					<!-- BEGIN .two-forths -->
					<div class="two-forths">
						
						<!-- BEGIN .widget -->
						<div class="widget">
							<div class="widget-title clearfix">
								<h5>Seyaney</h5>
							</div>
							<p>Seyaney假日酒店坐落于W市中心，喧嚣的都市里一个安静、另类的建筑。酒店以整洁和温馨为主题，108间豪华客房，200间标准客房，设施一应俱全，免费机场接机、免费停车场、免费三餐和点心，服务周到，24小时前台工作人员，是您出行旅游的最佳去处。</p>
						<!-- END .widget -->
						</div>
					
					<!-- END .two-forths -->
					</div>
					
					<!-- BEGIN .one-forth -->
					<div class="one-forth">
						
						<!-- BEGIN .widget -->
						<div class="widget">
							<div class="widget-title clearfix">
								<h5>网站地图</h5>
							</div>
							
							<ul>
								<li><a href="accommodation.html">住宿</a></li>
								<li><a href="typography.html">设施</a></li>
								<li><a href="events.html">动态</a></li>
								<li><a href="contact.html">联系我们</a></li>
							</ul>
							
						<!-- END .widget -->
						</div>
					
					<!-- END .one-forth -->
					</div>
					
					<!-- BEGIN .one-forth -->
					<div class="one-forth last-col">
						
						<!-- BEGIN .widget -->
						<div class="widget">
							<div class="widget-title clearfix">
								<h5>分享</h5>
							</div>
							
							<div class="flickr_badge_wrapper clearfix">
								<div style="clear:both;"></div>
								<p class="flickr-more-photos"><a href="#">QQ空间</a> &nbsp;<a href="#">微信朋友圈</a></p>
							</div>
							
						<!-- END .widget -->
						</div>
						
					<!-- END .one-forth -->
					</div>					
				<!-- END #footer -->
				</div>
				
				<!-- BEGIN #footer-bottom -->
				<div id="footer-bottom" class="clearfix">
					<p class="fl">&copy; Copyright 2016</p>
					<ul class="footer-menu fr">
						<li><a href="index.html">主页</a><span>/</span></li>
						<li><a href="accommodation.html">预定套房</a><span>/</span></li>
						<li><a href="contact.html">联系我们</a><span>/</span></li>
					</ul>
				<!-- END #footer-bottom -->
				</div>
			
			<!-- END .content-body -->
			</div>
			
		<!-- END .content-wrapper -->
		</div>
		
	<!-- END .background-wrapper -->
	</div>

	<!--JavaScript-->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type='text/javascript' src='js/jquery-ui.min.js'></script>
	<script type="text/javascript" src="js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="js/jquery.ui.datepicker.js"></script>
	<script type='text/javascript' src='js/jquery.prettyPhoto.js'></script>
	<script type="text/javascript" src="js/superfish.js"></script>
	<script type="text/javascript" src="js/slides.min.jquery.js"></script>
	<script type='text/javascript' src='js/jquery.easing.1.3.js'></script>
	<script type='text/javascript' src='js/jquery.cookie.js'></script>
	<script type="text/javascript" src="js/scripts.js"></script>

	<!--百度地图-->
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=yYlkkVYc0mLaowf9KiuNsvEH"></script>
	<script type="text/javascript">
		// 百度地图API功能
		var map = new BMap.Map("baidu-map");
		map.centerAndZoom("温州医科大学",13);  		// 初始化地图,设置中心点坐标和地图级别
		map.addControl(new BMap.MapTypeControl());   //添加地图类型控件
		map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

		// 覆盖区域图层测试
		map.addTileLayer(new BMap.PanoramaCoverageLayer());
		var stCtrl = new BMap.PanoramaControl(); //构造全景控件
		stCtrl.setOffset(new BMap.Size(20, 20));
		map.addControl(stCtrl);//添加全景控件

	</script>

	<script type="text/javascript">
		$(function(){

			/*后端PHP接口的根目录*/
			var APIURL="http://www.hms.com/HMS/API/action/front/";

			/**
			 * @desc 马上预定功能
			 */
			$('#bookNow').on('click',function(e){
				e.preventDefault();
				var _selectedPro=$('#room').find("option:selected").data('id');
				var _userPhone=$('#phone').val();
				var _inDate=formatDateString($('#datefrom').val());
				var _outDate=formatDateString($('#dateto').val());
				var _days=Math.floor((new Date(_outDate).getTime()-new Date(_inDate).getTime())/(24*60*60*1000));

				if(_selectedPro && _userPhone && _inDate && _outDate){
					if(_userPhone.length!==11){
						alert('抱歉，您的手机号码格式不对！');
						return false;
					}
					else{
						$.ajax({
							type:'get',
							url:APIURL+'book.act.php',
							data:{
								productId:_selectedPro,
								userPhone:_userPhone,
								inDate:_inDate,
								outDate:_outDate,
								days:_days
							},
							dataType:'json',
							success:function(res){
								if(res){
									alert('恭喜，预定成功！请按时到酒店前台办理入住手续。');
									location.replace(location.href);
								}
							}
						});
					}
				}
			});

			/**
			 * @desc 顾客留言
			 */
			$('#review-submit').on('click',function(e){
				e.preventDefault();

				var _userName=$('#review-name').val();
				var _productId=$('#review-room').find("option:selected").data('id');
				var _email=$('#review-email').val();
				var _phone=$('#review-phone').val();
				var _content=$('#review-content').val();

				if(_userName && _productId && _email && _phone && _content){
					if(_phone.length!==11){
						alert('抱歉，您的手机号码格式不对！');
						return false;
					}else{
						$.ajax({
							type:'get',
							url:APIURL+'message.act.php',
							data:{
								userName:_userName,
								productId:_productId,
								email:_email,
								phone:_phone,
								content:_content
							},
							dataType:'json',
							success:function(res){
								if(res){
									alert('评论成功！欢迎再次光临');
									location.replace(location.href);
								}
							}
						});
					}
				}
			});
		});

		/**
		 * [formatDateString 格式化日期格式]
		 * @param  {[type]} $str [description]
		 * @return {[type]}      [description]
		 */
		function formatDateString($str){
			var tempArr=$str.split('/');
			return [tempArr[2],tempArr[0],tempArr[1]].join('-');
		}
	</script>
	
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="js/selectivizr-min.js"></script>
	<![endif]-->
<!-- END body -->
</body>
</html>