<!DOCTYPE html>
<!--[if lt IE 7]> <html dir="ltr" lang="en-US" class="ie6"> <![endif]-->
<!--[if IE 7]>    <html dir="ltr" lang="en-US" class="ie7"> <![endif]-->
<!--[if IE 8]>    <html dir="ltr" lang="en-US" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html dir="ltr" lang="en-US"> <!--<![endif]-->

<!-- BEGIN head -->

<head>

	<!--Meta Tags-->
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
	<!--Title-->
	<title>Nice Hotel - A Premium HTML Template for Hotels</title>

	<!--Stylesheets-->
	<link rel="stylesheet" href="css/superfish.css" type="text/css"  media="all"  />
	<link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" media="all" />
	<link type="text/css" href="css/jqueryui/jquery.ui.datepicker.css" rel="stylesheet" />
	<link rel="stylesheet" href="css/style.css" type="text/css"  media="all"  />
	<link id="colour_css" rel="stylesheet" href="css/colours/cream-red.css" type="text/css"  media="all"  />
	<link href='css/font.css' rel='stylesheet' type='text/css'>

<!-- END head -->
</head>

<!-- BEGIN body -->
<body>
	
	<!-- BEGIN DEMO ONLY -->
	<div id="style_picker">

		<h3 class="picker_title">Pick a Colour</h3>

		<ul class="style_list">
			<li><a href="#" rel="css/colours/cream-red.css">Cream &amp; Red</a></li>
			<li><a href="#" rel="css/colours/green-brown.css">Green &amp; Brown</a></li>
			<li><a href="#" rel="css/colours/green.css">Green</a></li>
			<li><a href="#" rel="css/colours/purple.css">Purple</a></li>
		</ul>

		<div class="style_picker_toggle_wrapper">
			<a href="#" class="style_picker_toggle"></a>
		</div>
		
	</div>
	<!-- END DEMO ONLY -->

	<!-- BEGIN .background-wrapper -->
	<div class="background-wrapper">
		
		<!-- BEGIN .content-wrapper -->
		<div class="content-wrapper">
		
			<!-- BEGIN .content-body -->
			<div class="content-body">
				
				<!-- BEGIN .top-bar -->
				<div class="top-bar clearfix">
					
					<!-- BEGIN .gmap-btn-wrapper -->
					<div class="gmap-btn-wrapper">
						<a href="#" class="gmap-btn"></a>
						<div class="gmap-curve"></div>
					<!-- END .gmap-btn-wrapper -->
					</div>
					
					<!-- BEGIN .top-menu-wrapper -->
					<div class="top-menu-wrapper fr clearfix">
						<a href="accommodation.html" class="button1 fl">Book Now</a>
					<!-- END .top-menu-wrapper -->
					</div>
					
				<!-- END .top-bar -->
				</div>
				
				<!-- BEGIN .title-wrapper -->
				<div id="title-wrapper">
					<h1><div class="title-dec-left"></div><a href="index.html">Nice Hotel <span>A HTML Template</span></a><div class="title-dec-right"></div></h1>
				<!-- END .title-wrapper -->
				</div>
				
				<!-- BEGIN #navigation -->
				<div id="navigation" class="clearfix">
					
					<!-- BEGIN #main-menu -->
					<ul id="main-menu" class="fl clearfix">
						<li><a href="index.html">Home<span>start here</span></a></li>
						<li><a href="accommodation.html">Accommodation<span>rates &amp; reservations</span></a>
							<ul>
								<li><a href="accommodation-single.html">Single Standard Room</a></li>
								<li><a href="accommodation-single.html">Double Standard Room</a></li>
								<li><a href="accommodation-single.html">Single Ensuite Room</a>
									<ul>
										<li><a href="accommodation-single.html">Single Standard Room</a></li>
										<li><a href="accommodation-single.html">Double Standard Room</a></li>
										<li><a href="accommodation-single.html">Single Ensuite Room</a>
									</ul>
								</li>
								<li><a href="accommodation-single.html">Double Ensuite Room</a></li>
							</ul>
						</li>
						<li class="current-menu-item"><a href="typography.html">Facilities<span>spa &amp; relaxation</span></a>
							<ul>
								<li><a href="blog.html">Blog</a>
								<li><a href="blog-single.html">Blog Single</a></li>
								<li><a href="testimonials.html">Testimonials</a></li>
								<li><a href="gallery.html">Photo Gallery</a>
								<li><a href="typography.html">Typography</a>
								<li><a href="js-elements.html">JavaScript Elements</a></li>
								<li><a href="left-sidebar.html">Left Sidebar</a></li>
							</ul>
						</li>
						<li><a href="events.html">Events<span>what's happening</span></a></li>
						<li><a href="contact.html">Contact<span>get in touch</span></a></li>
					<!-- END #main-menu -->
					</ul>
					
					<ul class="main-menu-contact-info fr">
						<li class="info-phone">+44 0123456789</li>
						<li class="info-email">mail [at] website [dot] com</li>
					</ul>
					
					<div class="corner-left"></div>
					<div class="corner-right"></div>
					
				<!-- END #navigation -->
				</div>
				
				<!-- BEGIN .page-header -->
				<div class="page-header">
					<img src="images/pagehead1.jpg" alt="" />
				<!-- END .page-header -->
				</div>
				
				<!-- BEGIN .section -->
				<div class="section clearfix">
					
					<!-- BEGIN .main-content -->
					<div class="main-content">
						
						<h2 class="page-title">Typography</h2>
						
						<!-- BEGIN .page-content -->
						<div class="page-content">
						
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus mauris quis tellus venenatis laoreet. Morbi velit metus, sollicitudin sed molestie ut, bibendum blandit dui. Ut dictum, diam sed blandit euismod, velit nunc laoreet felis, et tempus sem risus rhoncus magna. In hac habitasse platea dictumst.</p>
						
							<h3>Accordion</h3>
							
							<div class="accordion">
								<h4>Accordion Title 1</h4>
								<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et rhoncus neque. Maecenas enim nunc, dapibus in mattis eleifend, luctus et magna. Maecenas nunc est, posuere sed convallis tincidunt</div>
								<h4>Accordion Title 2</h4>
								<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et rhoncus neque. Maecenas enim nunc, dapibus in mattis eleifend, luctus et magna. Maecenas nunc est, posuere sed convallis tincidunt</div>
								<h4>Accordion Title 3</h4>
								<div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et rhoncus neque. Maecenas enim nunc, dapibus in mattis eleifend, luctus et magna. Maecenas nunc est, posuere sed convallis tincidunt</div>
							</div>
							
							<h3>Toggle</h3>
							
							<div class="toggle">
								<div class="title">
									<h4>Toggle Title 1</h4>
								</div>
								<div class="inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et rhoncus neque. Maecenas enim nunc, dapibus in mattis eleifend, luctus et magna. Maecenas nunc est, posuere sed convallis tincidunt</div>
							</div>
							
							<div class="toggle">
								<div class="title">
									<h4>Toggle Title 2</h4>
								</div>
								<div class="inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et rhoncus neque. Maecenas enim nunc, dapibus in mattis eleifend, luctus et magna. Maecenas nunc est, posuere sed convallis tincidunt</div>
							</div>
							
							<div class="toggle">
								<div class="title">
									<h4>Toggle Title 3</h4>
								</div>
								<div class="inner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et rhoncus neque. Maecenas enim nunc, dapibus in mattis eleifend, luctus et magna. Maecenas nunc est, posuere sed convallis tincidunt</div>
							</div>
							
							<h3>Tabs</h3>
							<div id="tabs">
								<ul class="nav clearfix">
									<li><a href="#tabs-tab-title-1">Tab Title 1</a></li>
									<li><a href="#tabs-tab-title-2">Tab Title 2</a></li>
									<li><a href="#tabs-tab-title-3">Tab Title 3</a></li>
								</ul>
								<div id="tabs-tab-title-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent et rhoncus neque. Maecenas enim nunc, dapibus in mattis eleifend, luctus et magna. Maecenas nunc est, posuere sed convallis tincidunt</div>
								<div id="tabs-tab-title-2">Morbi lacinia, nisi nec rutrum faucibus, enim augue feugiat libero, sit amet sollicitudin massa nisi eget nulla. Etiam pretium, est sit amet eleifend posuere, tellus nisl interdum massa</div>
								<div id="tabs-tab-title-3">Ut bibendum ullamcorper tortor, eget aliquet odio facilisis quis. Nulla interdum aliquet scelerisque. Curabitur ante metus, laoreet eu convallis a, tristique a arcu. Donec id erat sed lectus congue tempor</div>
							</div>
							
						<!-- END .main-content -->
						</div>
					
					<!-- END .two-thirds -->
					</div>
					
					<!-- BEGIN .sidebar -->
					<div class="sidebar last-col">
						
						<div class="widget">
							<form method="get" action="#" class="search">
								<input type="text" onblur="if(this.value=='')this.value='Search...';" onfocus="if(this.value=='Search...')this.value='';" value="Search..." name="s" />
							</form>
						</div>
						
						<div class="widget">
							<div class="widget-title clearfix"><h5>Categories</h5></div>
							<ul>
								<li><a href="#">List Item #1</a></li>
								<li><a href="#">List Item #2</a></li>
								<li><a href="#">List Item #3</a></li>
								<li><a href="#">List Item #4</a></li>
								<li><a href="#">List Item #5</a></li>
								<li><a href="#">List Item #6</a></li>
							</ul>
						</div>
						
						<div class="widget">
							<div class="widget-title clearfix"><h5>Tags</h5></div>
							<ul class="wp-tag-cloud clearfix">
								<li><a href="#">Tag #1</a></li>
								<li><a href="#">Tag #2</a></li>
								<li><a href="#">Tag #3</a></li>
								<li><a href="#">Tag #4</a></li>
								<li><a href="#">Tag #5</a></li>
								<li><a href="#">Tag #6</a></li>
							</ul>
						</div>
						
						<div class="widget">
							<div class="widget-title clearfix"><h5>Recent Posts</h5></div>
							
							<ul class="latest-posts-list clearfix">
								
								<li class="clearfix">
									<div class="lpl-img">
										<a href="#" rel="bookmark">
											<img width="66" height="66" src="images/news-prev1.jpg" alt="" />
										</a>
									</div>
									<div class="lpl-content">
										<h6><a href="#" rel="bookmark">Dasellus ac nibh urna donec 
										ac urna</a> <span> Posted Jun 13, 2012 By admin</span></h6>
									</div>
								</li>
								
								<li class="clearfix">
									<div class="lpl-img">
										<a href="#" rel="bookmark">
											<img width="66" height="66" src="images/news-prev2.jpg" alt="" />
										</a>
									</div>
									<div class="lpl-content">
										<h6><a href="#" rel="bookmark">Dasellus ac nibh urna donec 
										ac urna</a> <span> Posted Jun 13, 2012 By admin</span></h6>
									</div>
								</li>
								
								<li class="clearfix">
									<div class="lpl-img">
										<a href="#" rel="bookmark">
											<img width="66" height="66" src="images/news-prev3.jpg" alt="" />
										</a>
									</div>
									<div class="lpl-content">
										<h6><a href="#" rel="bookmark">Dasellus ac nibh urna donec 
										ac urna</a> <span> Posted Jun 13, 2012 By admin</span></h6>
									</div>
								</li>
								
							</ul>
						
						</div>
						
						<div class="widget">
							<div class="widget-title clearfix"><h5>Reservations</h5></div>
							
							<!-- BEGIN .booknow-sidebar -->
							<div class="booknow-sidebar">
							
								<!-- BEGIN .booknow -->
								<div class="booknow">

									<form class="booking-form" name="bookroom" action="#" method="post">

										<div class="select-wrapper">
											<select id="room" name="room">
												<option>Select a Room...</option>
												<option>Single Standard Room</option>
												<option>Double Standard Room</option>
												<option>Single Ensuite Room</option>
												<option>Double Ensuite Room</option>
											</select>
										</div>

										<div class="clearfix">
											<input type="text" id="datefrom" value="From" class="input-half datepicker">
											<input type="text" id="dateto" value="To" class="input-half input-half-last datepicker">
										</div>

										<input class="bookbutton" type="submit" value="Book Now" />

									</form>

									<div class="corner-left"></div>
								
								<!-- END .booknow -->
								</div>
							
							<!-- END . booknow-sidebar -->
							</div>
							
						</div>
						
					<!-- END .sidebar -->
					</div>
				
				<!-- END .section -->
				</div>
				
				<!-- BEGIN #footer -->
				<div id="footer" class="clearfix">
					
					<!-- BEGIN .two-forths -->
					<div class="two-forths">
						
						<!-- BEGIN .widget -->
						<div class="widget">
							<div class="widget-title clearfix">
								<h5>Nice Hotel</h5>
							</div>
							<p>Pellentesque dignissim porta enim, eget commodo metus euismod id. Suspendisse congue, ligula ac accumsan vestibulum, nisi mauris aliquet quam, in facilisis felis tortor eu dui. Vivamus augue elit, viverra id congue ut, accumsan in dolor. Nulla id risus sit amet nisl euismod egestas non eget dolor. Aliquam in dui diam</p>
						<!-- END .widget -->
						</div>
					
					<!-- END .two-forths -->
					</div>
					
					<!-- BEGIN .one-forth -->
					<div class="one-forth">
						
						<!-- BEGIN .widget -->
						<div class="widget">
							<div class="widget-title clearfix">
								<h5>Site Map</h5>
							</div>
							
							<ul>
								<li><a href="accommodation.html">Accommodation</a></li>
								<li><a href="typography.html">Facilities</a></li>
								<li><a href="events.html">Events</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
							
						<!-- END .widget -->
						</div>
					
					<!-- END .one-forth -->
					</div>
					
					<!-- BEGIN .one-forth -->
					<div class="one-forth last-col">
						
						<!-- BEGIN .widget -->
						<div class="widget">
							<div class="widget-title clearfix">
								<h5>Flickr</h5>
							</div>
							
							<div class="flickr_badge_wrapper clearfix">
								
								<div style="clear:both;"></div>
								<p class="flickr-more-photos">View More &raquo;</p>
							</div>
							
						<!-- END .widget -->
						</div>
						
					<!-- END .one-forth -->
					</div>
					
				<!-- END #footer -->
				</div>
				
				<!-- BEGIN #footer-bottom -->
				<div id="footer-bottom" class="clearfix">
					<p class="fl">&copy; Copyright 2013</p>
					<ul class="footer-menu fr">
						<li><a href="index.html">Home</a><span>/</span></li>
						<li><a href="accommodation.html">Book</a><span>/</span></li>
						<li><a href="contact.html">Contact</a><span>/</span></li>
					</ul>
				<!-- END #footer-bottom -->
				</div>
			
			<!-- END .content-body -->
			</div>
			
		<!-- END .content-wrapper -->
		</div>
		
	<!-- END .background-wrapper -->
	</div>

	<!--JavaScript-->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type='text/javascript' src='js/jquery-ui.min.js'></script>
	<script type="text/javascript" src="js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="js/jquery.ui.datepicker.js"></script>
	<script type='text/javascript' src='js/jquery.prettyPhoto.js'></script>
	<script type="text/javascript" src="js/superfish.js"></script>
	<script type="text/javascript" src="js/slides.min.jquery.js"></script>
	<script type='text/javascript' src='js/jquery.easing.1.3.js'></script>
	<script type='text/javascript' src='js/jquery.cookie.js'></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	
	<!--[if (gte IE 6)&(lte IE 8)]>
		<script type="text/javascript" src="js/selectivizr-min.js"></script>
	<![endif]-->


<!-- END body -->
</body>
</html>